In [1]:
import pandas as pd
from transformers import AutoModel, AutoTokenizer, Trainer, TrainingArguments
import torch
import torch.nn as nn
from torch.nn import functional as F
#from torch.utils.data import Dataset
from datasets import Dataset

# 读取并预处理数据集
df = pd.read_csv('validation_labels.csv')
# 删除包含 NaN 的行
df = df.dropna()

df

2025-03-09 18:34:40.133373: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-03-09 18:34:40.145786: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-03-09 18:34:40.160593: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-03-09 18:34:40.164976: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-03-09 18:34:40.175782: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI AVX512_BF16 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-03-09 18:34:41.056193: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

,ID,resname,resid,x_1,y_1,z_1,x_2,y_2,z_2,x_3,...,z_37,x_38,y_38,z_38,x_39,y_39,z_39,x_40,y_40,z_40
0,R1107_1,G,1,-5.499000,8.520000,8.605000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
1,R1107_2,G,2,-5.826000,10.453000,14.010000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2,R1107_3,G,3,-5.849000,14.768000,17.584999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
3,R1107_4,G,4,-5.784000,19.985001,18.666000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
4,R1107_5,G,5,-5.755000,25.533001,17.132999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,R1190_114,U,114,87.870003,105.432999,115.183998,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2511,R1190_115,U,115,92.911003,105.394997,113.741997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2512,R1190_116,U,116,99.012001,105.749001,113.073997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2513,R1190_117,U,117,103.861000,103.453003,114.589996,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2514,R1190_118,U,118,106.745003,95.313004,112.320999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18

In [2]:
df['molecule_id'] = df['ID'].apply(lambda x: x.split('_')[0])
df['residue_id'] = df['resid']
df

,ID,resname,resid,x_1,y_1,z_1,x_2,y_2,z_2,x_3,...,y_38,z_38,x_39,y_39,z_39,x_40,y_40,z_40,molecule_id,residue_id
0,R1107_1,G,1,-5.499000,8.520000,8.605000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,1
1,R1107_2,G,2,-5.826000,10.453000,14.010000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,2
2,R1107_3,G,3,-5.849000,14.768000,17.584999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,3
3,R1107_4,G,4,-5.784000,19.985001,18.666000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,4
4,R1107_5,G,5,-5.755000,25.533001,17.132999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,R1190_114,U,114,87.870003,105.432999,115.183998,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,114
2511,R1190_115,U,115,92.911003,105.394997,113.741997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,115
2512,R1190_116,U,116,99.012001,105.749001,113.073997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,116
2513,R1190_117,U,117,103.861000,103.453003,114.589996,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,117
2514,R1190_118,U,118,106.745003,95.313004,112.320999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,118

In [3]:
groups = df.groupby('molecule_id')
data = []
for molecule_id, group in groups:
    group = group.sort_values('residue_id')
    sequence = ''.join(group['resname'].values)
    labels = group[['x_1', 'y_1', 'z_1']].values
    data.append((sequence, labels))

data[0]

('GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU',
 array([[ -5.49900007,   8.52000046,   8.60499954],
        [ -5.82600021,  10.45300007,  14.01000023],
        [ -5.84899998,  14.76799965,  17.58499908],
        [ -5.78399992,  19.98500061,  18.66600037],
        [ -5.75500011,  25.53300095,  17.13299942],
        [ -6.22700024,  30.09300041,  13.96500015],
        [ -9.01599979,  37.02999878,  11.30599976],
        [ -9.02600002,  31.55400085,   8.72500038],
        [-13.9119997 ,  30.90800095,   8.34700012],
        [-22.27300072,  33.25099945,   7.10500002],
        [-25.75200081,  28.85400009,   8.54800034],
        [-28.56699944,  25.02700043,   6.70900011],
        [-30.61300087,  22.20700073,   2.5999999 ],
        [-30.47400093,  20.33399963,  -2.32599998],
        [-27.7670002 ,  19.59399986,  -7.18900013],
        [-23.65099907,  18.54299927,  -9.92700005],
        [-18.34600067,  17.52599907, -10.07900047],
        [-14.49499989,  14.75599957,  -6.94799995],
        [-12.22599983,  11.53999996,  -2.98799992],
        [-12.13300037,   6.88399982,  -0.685     ],
        [-13.11299992,   2.07399988,  -3.01900005],
        [-11.57299995,  -3.81200004,  -7.13100004],
        [-16.43799973,  -1.31200004,  -8.29300022],
        [-20.9659996 ,   1.04900002,  -7.39300013],
        [-24.43899918,   2.61999989,  -2.64599991],
        [-23.89100075,   4.65299988,   2.30599999],
        [-20.26099968,   8.21800041,   3.56999993],
        [-16.80500031,  12.19400024,   3.27800012],
        [-14.38700008,  16.97500038,   0.235     ],
        [-12.61400032,  25.40699959,   1.58899999],
        [ -7.74100018,  27.68099976,   3.60800004],
        [ -3.40400004,  27.70299911,   6.27799988],
        [ -0.71700001,  26.03199959,  11.74699974],
        [  0.829     ,  22.25499916,  15.45699978],
        [  1.21700001,  17.18600082,  17.26300049],
        [  0.83399999,  12.35999966,  15.46700001],
        [ -0.60900003,   5.80999994,  13.41800022],
        [  0.95599997,   4.59000015,   9.14700031],
        [  4.06799984,   4.52600002,   4.55900002],
        [  8.81400013,   6.1170001 ,   2.50999999],
        [ 14.00800037,   8.12699986,   2.40499997],
        [ 19.01399994,   8.05500031,   4.04300022],
        [ 21.66500092,   6.77099991,   8.8920002 ],
        [ 22.59799957,   3.31699991,  12.52700043],
        [ 22.0909996 ,  -1.66100001,  14.13700008],
        [ 24.27799988,  -9.16399956,  13.35599995],
        [ 20.78499985,  -8.10099983,  17.4640007 ],
        [ 17.43600082, -14.43200016,  22.0720005 ],
        [ 12.31200027, -12.17000008,  22.16900063],
        [  6.68300009, -13.69900036,  23.00399971],
        [  3.91799998,  -5.92600012,  25.49200058],
        [  4.28900003,  -0.88099998,  21.86400032],
        [  9.08600044,   1.97300005,  21.07900047],
        [ 16.47500038,   3.9519999 ,  17.51000023],
        [ 18.06900024,   8.88799953,  15.32499981],
        [ 17.17300034,  12.43599987,  11.33500004],
        [ 14.30799961,  13.74199963,   7.04899979],
        [  9.79100037,  13.74199963,   3.89400005],
        [  4.82499981,  12.50699997,   1.84200001],
        [  0.26199999,  12.65699959,   4.78299999],
        [ -6.26300001,  13.10200024,  -0.26499999],
        [-11.41499996,  15.27999973,  -2.21399999],
        [-14.99300003,  21.7840004 ,  -4.45100021],
        [-18.29800034,  24.10499954,  -7.38500023],
        [-22.71299934,  26.33699989,  -8.67800045],
        [-28.12899971,  26.54899979,  -6.8130002 ],
        [-32.0320015 ,  27.91699982,  -2.88499999],
        [-33.88999939,  29.1989994 ,   2.10599995],
        [-33.66699982,  31.80699921,   7.12300014]]))

In [4]:
sequence, labels = data[0]
print(sequence)
print(labels)

GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU
[[ -5.49900007   8.52000046   8.60499954]
 [ -5.82600021  10.45300007  14.01000023]
 [ -5.84899998  14.76799965  17.58499908]
 [ -5.78399992  19.98500061  18.66600037]
 [ -5.75500011  25.53300095  17.13299942]
 [ -6.22700024  30.09300041  13.96500015]
 [ -9.01599979  37.02999878  11.30599976]
 [ -9.02600002  31.55400085   8.72500038]
 [-13.9119997   30.90800095   8.34700012]
 [-22.27300072  33.25099945   7.10500002]
 [-25.75200081  28.85400009   8.54800034]
 [-28.56699944  25.02700043   6.70900011]
 [-30.61300087  22.20700073   2.5999999 ]
 [-30.47400093  20.33399963  -2.32599998]
 [-27.7670002   19.59399986  -7.18900013]
 [-23.65099907  18.54299927  -9.92700005]
 [-18.34600067  17.52599907 -10.07900047]
 [-14.49499989  14.75599957  -6.94799995]
 [-12.22599983  11.53999996  -2.98799992]
 [-12.13300037   6.88399982  -0.685     ]
 [-13.11299992   2.07399988  -3.01900005]
 [-11.57299995  -3.81200004  -7.13100004]
 [-16.43799973  -1.31200004  -8.29300022]
 [-20.9659996    1.04900002  -7.39300013]
 [-24.43899918   2.61999989  -2.64599991]
 [-23.89100075   4.65299988   2.30599999]
 [-20.26099968   8.21800041   3.56999993]
 [-16.80500031  12.19400024   3.27800012]
 [-14.38700008  16.97500038   0.235     ]
 [-12.61400032  25.40699959   1.58899999]
 [ -7.74100018  27.68099976   3.60800004]
 [ -3.40400004  27.70299911   6.27799988]
 [ -0.71700001  26.03199959  11.74699974]
 [  0.829       22.25499916  15.45699978]
 [  1.21700001  17.18600082  17.26300049]
 [  0.83399999  12.35999966  15.46700001]
 [ -0.60900003   5.80999994  13.41800022]
 [  0.95599997   4.59000015   9.14700031]
 [  4.06799984   4.52600002   4.55900002]
 [  8.81400013   6.1170001    2.50999999]
 [ 14.00800037   8.12699986   2.40499997]
 [ 19.01399994   8.05500031   4.04300022]
 [ 21.66500092   6.77099991   8.8920002 ]
 [ 22.59799957   3.31699991  12.52700043]
 [ 22.0909996   -1.66100001  14.13700008]
 [ 24.27799988  -9.16399956  13.35599995]
 [ 20.78499985  -8.10099983  17.4640007 ]
 [ 17.43600082 -14.43200016  22.0720005 ]
 [ 12.31200027 -12.17000008  22.16900063]
 [  6.68300009 -13.69900036  23.00399971]
 [  3.91799998  -5.92600012  25.49200058]
 [  4.28900003  -0.88099998  21.86400032]
 [  9.08600044   1.97300005  21.07900047]
 [ 16.47500038   3.9519999   17.51000023]
 [ 18.06900024   8.88799953  15.32499981]
 [ 17.17300034  12.43599987  11.33500004]
 [ 14.30799961  13.74199963   7.04899979]
 [  9.79100037  13.74199963   3.89400005]
 [  4.82499981  12.50699997   1.84200001]
 [  0.26199999  12.65699959   4.78299999]
 [ -6.26300001  13.10200024  -0.26499999]
 [-11.41499996  15.27999973  -2.21399999]
 [-14.99300003  21.7840004   -4.45100021]
 [-18.29800034  24.10499954  -7.38500023]
 [-22.71299934  26.33699989  -8.67800045]
 [-28.12899971  26.54899979  -6.8130002 ]
 [-32.0320015   27.91699982  -2.88499999]
 [-33.88999939  29.1989994    2.10599995]
 [-33.66699982  31.80699921   7.12300014]]

In [5]:
# 准备输入和标签
def prepare_input_labels(sequence, labels):
    seq_pos_list_local = []
    for i in range(0, len(sequence)):
        seq = sequence[0:i+1].replace("U","T") #U-->T
        #如果seq长度大于256则只要最后面的256个字符
        if len(seq) > 1024:
            seq = seq[-1024:]
        pos = labels[i].tolist()
        #print(seq, pos)
        data = {"seq":seq, "label":pos}
        seq_pos_list_local.append(data)
    return seq_pos_list_local
        
#seq_pos_list = prepare_input_labels(sequence, labels)

In [6]:
seq_pos_list_train = []
for sequence, labels in data:
    seq_pos_list = prepare_input_labels(sequence, labels)
    seq_pos_list_train.extend(seq_pos_list)

In [7]:
seq_pos_list_train[0]

{'seq': 'G',
 'label': [-5.499000072479248, 8.520000457763672, 8.604999542236328]}

In [8]:
import json
filename = "rna_pos_1024_val_no_none.jsonl"
rna_file = open(filename,"w")
for item in seq_pos_list_train:
    rna_file.write(json.dumps(item) + "\n")

rna_file.close()