In [1]:
import pandas as pd
from transformers import AutoModel, AutoTokenizer, Trainer, TrainingArguments
import torch
import torch.nn as nn
from torch.nn import functional as F
#from torch.utils.data import Dataset
from datasets import Dataset

# 读取并预处理数据集
df = pd.read_csv('validation_labels.csv')
# 将所有列中的 NaN 替换为 0
df = df.fillna(0)
df

2025-03-09 16:10:57.152423: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2025-03-09 16:10:57.164342: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:485] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2025-03-09 16:10:57.178655: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:8454] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2025-03-09 16:10:57.182986: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1452] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-03-09 16:10:57.194272: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI AVX512_BF16 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2025-03-09 16:10:58.101846: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

,ID,resname,resid,x_1,y_1,z_1,x_2,y_2,z_2,x_3,...,z_37,x_38,y_38,z_38,x_39,y_39,z_39,x_40,y_40,z_40
0,R1107_1,G,1,-5.499000,8.520000,8.605000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
1,R1107_2,G,2,-5.826000,10.453000,14.010000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2,R1107_3,G,3,-5.849000,14.768000,17.584999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
3,R1107_4,G,4,-5.784000,19.985001,18.666000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
4,R1107_5,G,5,-5.755000,25.533001,17.132999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,R1190_114,U,114,87.870003,105.432999,115.183998,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2511,R1190_115,U,115,92.911003,105.394997,113.741997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2512,R1190_116,U,116,99.012001,105.749001,113.073997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2513,R1190_117,U,117,103.861000,103.453003,114.589996,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18
2514,R1190_118,U,118,106.745003,95.313004,112.320999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18

In [2]:
df['molecule_id'] = df['ID'].apply(lambda x: x.split('_')[0])
df['residue_id'] = df['resid']
df

,ID,resname,resid,x_1,y_1,z_1,x_2,y_2,z_2,x_3,...,y_38,z_38,x_39,y_39,z_39,x_40,y_40,z_40,molecule_id,residue_id
0,R1107_1,G,1,-5.499000,8.520000,8.605000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,1
1,R1107_2,G,2,-5.826000,10.453000,14.010000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,2
2,R1107_3,G,3,-5.849000,14.768000,17.584999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,3
3,R1107_4,G,4,-5.784000,19.985001,18.666000,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,4
4,R1107_5,G,5,-5.755000,25.533001,17.132999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1107,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2510,R1190_114,U,114,87.870003,105.432999,115.183998,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,114
2511,R1190_115,U,115,92.911003,105.394997,113.741997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,115
2512,R1190_116,U,116,99.012001,105.749001,113.073997,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,116
2513,R1190_117,U,117,103.861000,103.453003,114.589996,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,117
2514,R1190_118,U,118,106.745003,95.313004,112.320999,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,...,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,-1.000000e+18,R1190,118

In [3]:
groups = df.groupby('molecule_id')
data = []
for molecule_id, group in groups:
    group = group.sort_values('residue_id')
    sequence = ''.join(group['resname'].values)
    labels = group[['x_1', 'y_1', 'z_1']].values.tolist()
    pos_data = {
        "seq":sequence,
        "pos_list":labels
    }
    data.append(pos_data)

data[0]

{'seq': 'GGGGGCCACAGCAGAAGCGUUCACGUCGCAGCCCCUGUCAGCCAUUGCACUCCGGCUGCGAAUUCUGCU',
 'pos_list': [[-5.499000072479248, 8.520000457763672, 8.604999542236328],
  [-5.826000213623047, 10.45300006866455, 14.010000228881836],
  [-5.848999977111816, 14.767999649047852, 17.584999084472656],
  [-5.783999919891357, 19.98500061035156, 18.666000366210938],
  [-5.755000114440918, 25.53300094604492, 17.132999420166016],
  [-6.227000236511231, 30.093000411987305, 13.96500015258789],
  [-9.015999794006348, 37.02999877929688, 11.305999755859377],
  [-9.026000022888184, 31.554000854492188, 8.725000381469727],
  [-13.911999702453612, 30.90800094604492, 8.347000122070312],
  [-22.27300071716309, 33.250999450683594, 7.105000019073486],
  [-25.75200080871582, 28.85400009155273, 8.54800033569336],
  [-28.566999435424805, 25.027000427246097, 6.709000110626221],
  [-30.613000869750977, 22.207000732421875, 2.5999999046325684],
  [-30.474000930786133, 20.333999633789062, -2.325999975204468],
  [-27.76700019836425, 19.5939998626709, -7.189000129699707],
  [-23.650999069213867, 18.542999267578125, -9.927000045776367],
  [-18.34600067138672, 17.525999069213867, -10.07900047302246],
  [-14.494999885559082, 14.755999565124512, -6.947999954223633],
  [-12.22599983215332, 11.539999961853027, -2.98799991607666],
  [-12.133000373840332, 6.883999824523926, -0.6850000023841858],
  [-13.11299991607666, 2.0739998817443848, -3.0190000534057617],
  [-11.572999954223633, -3.812000036239624, -7.13100004196167],
  [-16.437999725341797, -1.312000036239624, -8.293000221252441],
  [-20.965999603271484, 1.0490000247955322, -7.39300012588501],
  [-24.43899917602539, 2.619999885559082, -2.6459999084472656],
  [-23.891000747680664, 4.652999877929688, 2.305999994277954],
  [-20.26099967956543, 8.218000411987305, 3.569999933242798],
  [-16.80500030517578, 12.194000244140623, 3.2780001163482666],
  [-14.38700008392334, 16.975000381469727, 0.2349999994039535],
  [-12.61400032043457, 25.40699958801269, 1.5889999866485596],
  [-7.741000175476074, 27.68099975585937, 3.6080000400543217],
  [-3.4040000438690186, 27.70299911499023, 6.277999877929688],
  [-0.7170000076293945, 26.03199958801269, 11.746999740600586],
  [0.8289999961853027, 22.2549991607666, 15.45699977874756],
  [1.2170000076293943, 17.18600082397461, 17.26300048828125],
  [0.8339999914169312, 12.359999656677246, 15.467000007629396],
  [-0.609000027179718, 5.809999942779541, 13.41800022125244],
  [0.9559999704360962, 4.590000152587891, 9.147000312805176],
  [4.067999839782715, 4.526000022888184, 4.559000015258789],
  [8.814000129699707, 6.117000102996826, 2.509999990463257],
  [14.008000373840332, 8.126999855041504, 2.4049999713897705],
  [19.013999938964844, 8.055000305175781, 4.043000221252441],
  [21.665000915527344, 6.770999908447266, 8.892000198364258],
  [22.597999572753903, 3.316999912261963, 12.527000427246094],
  [22.090999603271484, -1.6610000133514404, 14.13700008392334],
  [24.277999877929688, -9.163999557495115, 13.355999946594238],
  [20.78499984741211, -8.10099983215332, 17.464000701904297],
  [17.43600082397461, -14.432000160217283, 22.07200050354004],
  [12.312000274658203, -12.170000076293944, 22.16900062561035],
  [6.683000087738037, -13.699000358581545, 23.003999710083008],
  [3.9179999828338623, -5.926000118255615, 25.492000579833984],
  [4.289000034332275, -0.8809999823570251, 21.86400032043457],
  [9.086000442504885, 1.9730000495910645, 21.07900047302246],
  [16.475000381469727, 3.95199990272522, 17.510000228881836],
  [18.069000244140625, 8.887999534606934, 15.324999809265137],
  [17.17300033569336, 12.435999870300291, 11.335000038146973],
  [14.30799961090088, 13.741999626159668, 7.048999786376953],
  [9.791000366210938, 13.741999626159668, 3.8940000534057617],
  [4.824999809265137, 12.506999969482422, 1.8420000076293943],
  [0.2619999945163727, 12.656999588012695, 4.7829999923706055],
  [-6.263000011444092, 13.10200023651123, -0.2649999856948852],
  [-11.414999961853027, 15.279999732971191, -2.21399998664856],
  [-14.993000030517578, 21.78400039672852, -4.451000213623047],
  [-18.29800033569336, 24.104999542236328, -7.385000228881836],
  [-22.71299934387207, 26.33699989318848, -8.678000450134277],
  [-28.128999710083008, 26.54899978637696, -6.813000202178955],
  [-32.03200149536133, 27.91699981689453, -2.884999990463257],
  [-33.88999938964844, 29.198999404907227, 2.1059999465942383],
  [-33.66699981689453, 31.80699920654297, 7.123000144958496]]}

In [4]:
import json
filename = "rna_pos_all_val.jsonl"
rna_file = open(filename,"w")
for item in data:
    rna_file.write(json.dumps(item) + "\n")

rna_file.close()